.navbar{
    display: flex;
    flex-direction: column;
    width: 17vw;
    height: 100vh;
    border-right: 1px solid #ccc;
}
.logo{
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    margin-bottom: 2vw;
}
.upper{
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    gap: 1.7rem;
}
.lower{
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    gap: 1.7rem;
    margin-top: auto;
    margin-bottom: 5vw;
}
.link{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: black;
}